<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="css/viabill.css" />
		<meta charset="utf-8" />
		<title>ViaBill Application Assignment</title>
    </head>

    <body>

		<!-- Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>

		<script src="viabillApplication.js"></script>
		<script src="viabillController.js"></script>

		<div ng-cloak="" class="tabsDynamicHeight" ng-app="viabillApp" ng-controller="viabillCtrl" id="appContainer">

			<md-content>
				<md-tabs md-dynamic-height="" md-border-bottom="">
					<md-tab label="create company">
						<md-content class="md-padding">
							<h1 class="md-display-2">Create New Company</h1>
							<p>Create a new company in the system, just adding all the mandatory information, and, if available, the optional information.</p>
							<div layout="column" ng-cloak="" class="companyForm">

								<form name="newCompanyForm">

									<md-input-container class="md-block">
										<label>Company Name</label>
										<input required="" name="companyName" ng-model="createCompany.name">
										<div ng-messages="newCompanyForm.companyName.$error">
											<div ng-message="required">The company name is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Address</label>
										<input required="" name="companyAddress" ng-model="createCompany.address">
										<div ng-messages="newCompanyForm.companyAddress.$error">
											<div ng-message="required">The address is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company City</label>
										<input required="" name="companyCity" ng-model="createCompany.city">
										<div ng-messages="newCompanyForm.companyCity.$error">
											<div ng-message="required">The city is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Country</label>
										<input required="" name="companyCountry" ng-model="createCompany.country">
										<div ng-messages="newCompanyForm.companyCountry.$error">
											<div ng-message="required">The country is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Email</label>
										<input type="email" name="companyEmail" ng-model="createCompany.email" ng-pattern="/^.+@.+\..+$/">
										<div ng-messages="newCompanyForm.companyEmail.$error">
											<div ng-message="pattern">Your email must look like an e-mail address.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Phone</label>
										<input name="companyPhone" ng-model="createCompany.phoneNumber">
									</md-input-container>

									<md-input-container class="md-block">
										<label>Benefitial Owners</label>
										<input required="" name="companyOwners" ng-model="createCompany.beneficiaOwner">

										<div class="hint" ng-if="newCompanyForm.companyOwners.$untouched || newCompanyForm.companyOwners.$valid">Introduce benefitial owners separated by commas</div>

										<div ng-messages="newCompanyForm.companyOwners.$touched && newCompanyForm.companyOwners.$error">
											<div ng-message="required">At least one benefitial owner is required.</div>
										</div>
									</md-input-container>

								</form>

								<md-button class="md-raised md-primary" ng-disabled="newCompanyForm.$invalid" ng-click="createNewCompany()">Create</md-button>
							</div>
						</md-content>
					</md-tab>

					<md-tab label="get companies" md-on-select="retrieveAllCompanies()">
						<md-content class="md-padding">
							<h1 class="md-display-2">Get All Companies</h1>
							<p>Retrieve all the companies that have been previously initialised in the system.</p>
							<md-divider ></md-divider>
							<md-list>
								<md-list-item class="md-2-line" ng-repeat="eachCompany in allCompanies">
								<div class="md-list-item-text" layout="column">
									<h3>Company Name : {{ eachCompany.name }}</h3>
									<p>Company ID : {{ eachCompany.idCompany }}</p>
									<md-divider ></md-divider>
								</div>
								</md-list-item>
							</md-list>
						</md-content>
					</md-tab>

					<md-tab label="get company details" md-on-select="retrieveAllCompanies()">
						<md-content class="md-padding">
							<h1 class="md-display-2">Get Company Details</h1>
							<p>Get all the existing details for one single company</p>
							<md-input-container>
								<div layout-gt-sm="row">
									<label>Existing Companies</label>
									<md-select name="companySelect" ng-model="selectedCompanyDetails">
										<md-option ng-repeat="companyDetails in allCompanies" value="{{companyDetails.idCompany}}">
											{{companyDetails.name}} (ID : {{companyDetails.idCompany}})
										</md-option>
									</md-select>
									<md-button class="md-raised md-primary" ng-disabled="!selectedCompanyDetails" ng-click="retrieveCompanyDetails()">Get Detailed Information</md-button>
								</div>
						     <div layout="column" class="animate-hide" ng-hide="!getCompanyDetails" ng-model="getCompanyDetails">
						      <md-card>
						        <md-card-header>
						          <md-card-header-text>
						            <span class="md-title">Company Name : {{getCompanyDetails.name}}</span>
						            <span class="md-subhead">ID : {{getCompanyDetails.idCompany}}</span>
						          </md-card-header-text>
						        </md-card-header>
						        <md-card-title>
						          <md-card-title-text>
												<span class="md-subhead"><b>Company Address :</b> {{getCompanyDetails.address}}</span>
												<span class="md-subhead"><b>Company City :</b> {{getCompanyDetails.city}}</span>
												<span class="md-subhead"><b>Company Country :</b> {{getCompanyDetails.country}}</span>
												<span class="md-subhead animate-hide" ng-hide="!getCompanyDetails.email"><b>Company Email :</b> {{getCompanyDetails.email}}</span>
												<span class="md-subhead animate-hide" ng-hide="!getCompanyDetails.phoneNumber"><b>Company phone :</b> {{getCompanyDetails.phoneNumber}}</span>
												<span class="md-subhead"><b>Company benefitial owners :</b> {{getCompanyDetails.beneficiaOwner.toString()}}</span>
						          </md-card-title-text>
						        </md-card-title>
						      </md-card>
						    </div>
							</md-input-container>
						</md-content>
					</md-tab>
					<md-tab label="update company"  md-on-select="retrieveAllCompanies()">
						<md-content class="md-padding">
							<h1 class="md-display-2">Update Company Details</h1>
							<p>Updates the detailed information of the selected company</p>
							<div layout="column" ng-cloak="" class="companyForm">

								<md-input-container class="md-block">

									<div layout-gt-sm="row">
										<label>Existing Companies</label>
										<md-select name="companySelect" ng-model="selectedCompanyUpdate" md-on-close="retrieveCompanyUpdate()">
											<md-option ng-repeat="companyUpdate in allCompanies" value="{{companyUpdate.idCompany}}">
												{{companyUpdate.name}} (ID : {{companyUpdate.idCompany}})
											</md-option>
										</md-select>
									</div>
								</md-input-container class="md-block">

								<form name="updateCompanyForm">

									<md-input-container class="md-block">
										<label>Company Name</label>
										<input required="" name="companyName" ng-model="updateCompany.name">
										<div ng-messages="updateCompanyForm.companyName.$error">
											<div ng-message="required">The company name is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Address</label>
										<input required="" name="companyAddress" ng-model="updateCompany.address">
										<div ng-messages="updateCompanyForm.companyAddress.$error">
											<div ng-message="required">The address is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company City</label>
										<input required="" name="companyCity" ng-model="updateCompany.city">
										<div ng-messages="updateCompanyForm.companyCity.$error">
											<div ng-message="required">The city is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Country</label>
										<input required="" name="companyCountry" ng-model="updateCompany.country">
										<div ng-messages="updateCompanyForm.companyCountry.$error">
											<div ng-message="required">The country is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Email</label>
										<input type="email" name="companyEmail" ng-model="updateCompany.email" ng-pattern="/^.+@.+\..+$/">
										<div ng-messages="updateCompanyForm.companyEmail.$error">
											<div ng-message="pattern">Your email must look like an e-mail address.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block">
										<label>Company Phone</label>
										<input name="companyPhone" ng-model="updateCompany.phoneNumber">
									</md-input-container>

								</form>

								<md-button class="md-raised md-primary" ng-disabled="updateCompanyForm.$invalid" ng-click="updateExistingCompany()">Update</md-button>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="add owner"  md-on-select="retrieveAllCompanies()">
						<md-content class="md-padding">
							<h1 class="md-display-2">Add Beneficial Owner(s)</h1>
							<p>Adds new benefitial owners to the selected company</p>
							<div layout="column">
								<md-input-container>
										<label>Existing Companies</label>
										<md-select name="companyAddBenefitial" ng-model="selectedCompanyAddBenefitial">
											<md-option ng-repeat="companyAddBenefitial in allCompanies" value="{{companyAddBenefitial.idCompany}}">
												{{companyAddBenefitial.name}} (ID : {{companyAddBenefitial.idCompany}})
											</md-option>
										</md-select>
								</md-input-container>
								<md-input-container md-no-float>
									<md-chips ng-model="addBenefitialOwners"  secondary-placeholder="New Benefitial Owner" placeholder="+Benefitial Owners" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" md-separator-keys="escapeKeys"></md-chips>
									<br>
									<md-button class="md-raised md-primary" ng-disabled="addBenefitialOwners.length == 0 || !selectedCompanyAddBenefitial" ng-click="addOwnersToCompany()">Add Benefitial Owner(s)</md-button>
									<md-button class="md-raised md-primary" ng-disabled="addBenefitialOwners.length == 0 && !selectedCompanyAddBenefitial" ng-click="cleanAddOwnersToCompany()">Clean</md-button>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>

	</body>
</html>
